body{
    margin:0;
    padding:0;
    background-color: #21252b;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Myriad Pro";
    overflow-x: hidden;
}
a {
    color:inherit;
    text-decoration: none;
   }

.big-text-wrapper{
    display: block;
    height:100vh;
    width:100%;
    text-align: center;
    .big-text-top-wrapper{
        position: absolute;
        top: 200px;
        left:0;
        height: 300px;
        width: 100%;
        text-align: center;
        .big-text-top{
            color: white;
            font-size: 140px;
        }
    }
    .big-text-bot-wrapper{
        position: absolute;
        top: 400px;
        left:0;
        height: 300px;
        width: 100%;
        text-align: center;
        .big-text-bot{
            color: white;
            font-size: 140px;
        }
    }
}

.site-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1440px;
}
.site-wrapper .about-me-wrapper{
    display: flex;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    width: 50%;
    height: 100vh;
    .about-me{
        position: -webkit-sticky;
        position: sticky;
        top: 200px;
        padding-left: 90px;
        padding-top: 90px;
        padding-bottom: 190px;
        max-width: 408px;
        .about-me-header{
            font-size: 64px;
        }
        .about-me-text{
            font-size: 14px;
        }
        .about-me-mail{
            position: absolute;
            width: 100%;
            height: 20px;
            bottom:0;
            left:90px;
        }
    }
}

.site-wrapper .portfolio-wrapper{
    display: flex;
    width: 50%;
    height:100%;

    .portfolio{
        padding-right: 90px;
        padding-top: 90px;
        padding-bottom: 90px;
        height: 100%;
        .portfolio-controls{
            margin-bottom: 15px;
            button{
                border: none;
                background: none;
                color: white;
                font-family: "Myriad Pro";
                font-size: 22px;
                opacity: 0.5;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }
            button:hover{
                opacity: 1;
            }
            button:focus {
                outline: none;
              }
            .selected{
                opacity: 1;
            }
        }

        .portfolio-content{
            height:100%;
            width:100%;
            flex-wrap: wrap;
            display: flex;
            z-index: 1;

            .content-item-group-date{
                width:100%;
                margin-bottom: 30px;
                margin-top: 50px;
                margin-left: 4px;
            }
            .content-item{
                margin: 4px;
                width: 350px;
                height: 250px;
                background-color: #15171b;
                transition: all .2s ease-in-out;
                flex: 0 0 45%;
            }
            .content-item:nth-child(2n){
                transform: translateY(-30px);
            }

            .content-item.visible:hover{
                opacity: 1!important;
                transform: scale(1.1);
                transition: all .2s ease-in-out;
            }
            .content-item:last-child{
                margin-right: 45px;
            }
            .visible{

            }
            .hidden{
                position: absolute;

                opacity: 0;
                z-index: -2;
            }
            .content-item{
                .item-wrap{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    white-space:normal;
                    .item-tag{
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: 10px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 0.5em;
                    }
                    .item-title{
                        font-size: 26px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 1em;
                    }
                    .item-text{
                        font-size: 14px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 0.5em;
                    }
                    .item-links{
                        display:flex;
                        flex-direction: row;
                        font-size: 36px;
                        margin-top: 15px;
                        .link-left, .link-right{
                            opacity:0.5;
                            transition: all .2s ease-in-out;
                        }
                        .link-left:hover, .link-right:hover{
                            opacity: 1;
                        }
                        .link-center{
                            margin-right: 25px;
                            margin-left: 25px;
                            width:2px;
                            height: 80%;
                            background-color: white;
                        }
                    }
                }
            }
        }
        .portfolio-content:hover .content-item.visible{
            opacity:0.5;
        }
    }
}

/* width */
.portfolio-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
.portfolio-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
.portfolio-content::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .portfolio-content::-webkit-scrollbar-thumb:hover {
    background: grey;
  }