//scss variables
$font-family: "Myriad Pro";

$light-mode-primary-bg-color: #ffffff;
$light-mode-secondary-bg-color: #DADDE2;
$light-mode-text-color: #000000;

$dark-mode-primary-bg-color:  #21252b;
$dark-mode-secondary-bg-color: #15171b;
$dark-mode-text-color: #ffffff;


@mixin for-size($size) {
    @if $size == 320 {
      @media (max-width: 320px) { @content; }
    } @else if $size == 375 {
      @media (max-width: 375px) { @content; }
    } @else if $size == 425 {
      @media (max-width: 425px) { @content; }
    } @else if $size == 768 {
      @media (max-width: 768px) { @content; }
    } @else if $size == 1024 {
        @media (max-width: 1024px) { @content; }
    } @else if $size == 1250 {
        @media (max-width: 1250px) { @content; }
    } @else if $size == 1440 {
        @media (max-width: 1440px) { @content; }
    }
  }


body{
    margin:0;
    padding:0;
    background-color: $light-mode-primary-bg-color;
    color: $light-mode-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    overflow-x: hidden;
}

a {
    color:inherit;
    text-decoration: none;
   }

.sticky-cursor{
    z-index: 100;
    pointer-events: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #777;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center center;
    @include for-size(768) {  
        display:none;
    }
}

.cursor-hover{
    width: 60px;
    height: 60px;
}

.big-text-wrapper{
    display: flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .big-text-top-wrapper{
        margin-bottom: 30px;
        @include for-size(425) {  
            margin-bottom: 15px;
        }
        .big-text-top{
            color: $light-mode-text-color;
            font-size: 140px;
            @include for-size(1440) {  
                font-size: 100px
            }
            @include for-size(1024) {  
                font-size: 80px;
            }
            @include for-size(768) {  
                font-size: 45px; 
            }
            @include for-size(425) {  
                font-size: 35px;
            }
        }
    }
    .big-text-bot-wrapper{
        margin-bottom: 50px;
        .big-text-bot{
            color: $light-mode-text-color;
            font-size: 140px;
            @include for-size(1440) {  
                font-size: 100px;
            }
            @include for-size(1024) {  
                font-size: 80px;
            }
            @include for-size(768) { 
                font-size: 45px; 
            }
            @include for-size(425) {  
                font-size: 35px;
            }
        }
    }
    .scroll-down-wrapper{
        height:5vh;
        .scroll-down-arrow span {
            width: 20px;
            height: 20px;
            display: block;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }
        .scroll-down-arrow span:nth-child(2) {
            animation-delay: -0.2s;
        }
        .scroll-down-arrow span:nth-child(3) {
            animation-delay: -0.4s;
        }
        @keyframes animate {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
                transform: rotate(45deg) translate(10px, 10px);
            }
            100% {
                opacity: 0;
            }
        }
    }
}


.site-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    @include for-size(1250) {  
        flex-direction: column;
        align-items: center;
    }
}

.site-wrapper .mobile-footer{
    display:none;
    width: 100vw;
    height: 10vh;
    margin-bottom: 50px;
    @include for-size(1250) {  
        display:flex;
        justify-content: center;
    }
    .about-me-info{
        display: flex;
        flex-direction: row;
        width: 50vw;
        justify-content: space-around;
        @include for-size(1024) {  
            width: 80vw;
        }
        @include for-size(768) {  
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .info-github, .info-mail{
            svg{
                width: 30px;
                font-size: 30px;
                transform: translateY(8px);
            }
        }
        .info-github{
            margin-bottom: 10px;
        }
    }
    
}
.site-wrapper .about-me-wrapper{
    display: flex;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    width: 35vw;
    height: 100vh;
    @include for-size(1250) {  
        position: static;
        align-items: center;
        width: 80vw;
        height: 60vh;
        text-align: center;
        justify-content: center;
        margin-bottom: 150px;
    }
    @include for-size(768) {  
        height: 100vh;
    }
    .about-me{
        position: -webkit-sticky;
        position: sticky;
        top: 200px;
        padding-left: 3vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        max-width: 408px;
        @include for-size(1250) {  
            padding: 0;
            position: static;
        }
        .about-me-header{
            font-size: 64px;
            @include for-size(1024) {  
                font-size: 54px;
            }
            @include for-size(375) { 
                font-size: 44px; 
            }
            @include for-size(320) {  
            }
        }
        .about-me-text{
            font-size: 16px;
        }
        .about-me-info{
            position: absolute;
            width: 100%;
            height: 20px;
            bottom:150px;
            left:3vw;
            @include for-size(1250) {  
                display: none;
            }
            .info-github, .info-mail{
                svg{
                    width: 30px;
                    font-size: 30px;
                    transform: translateY(8px);
                }
            }
        }
    }
}

.site-wrapper .portfolio-wrapper{
    display: flex;
    width: 45vw;
    margin-bottom: 50px;
    @include for-size(1440) {  
        width: 50vw;
    }
    @include for-size(1250) {  
        width: 80vw;
    }
    @include for-size(425) {  
        width: 95vw;
    }
    .portfolio{
        padding-right: 3vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        height: 100%;
        width: 100%;
        @include for-size(1250) {  
            padding: 0;
        }
        .portfolio-controls{
            margin-bottom: 15px;
            @include for-size(425) {  
                text-align: center;
            }
            button{
                border: none;
                background: none;
                color: $light-mode-text-color;
                font-family: $font-family;
                font-size: 22px;
                opacity: 0.5;
                transition: all .2s ease-in-out;
                cursor: pointer;
                @include for-size(425) {  
                    font-size: 18px;
                }
            }
            button:hover{
                opacity: 1;
            }
            button:focus {
                outline: none;
              }
            .selected{
                opacity: 1;
            }
        }

        .portfolio-content{
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            z-index: 1;
            .content-item-group-date{
                width:100%;
                margin-bottom: 30px;
                margin-top: 50px;
                margin-left: 4px;
            }
            .content-item{
                margin: 4px;
                width: 350px;
                height: 250px;
                background-color: $light-mode-secondary-bg-color;
                transition: all .2s ease-in-out;
                flex: 0 0 45%;
                position: relative;
                overflow: hidden;
                @include for-size(768) {  
                    flex: 0 0 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
                .work-in-prog{
                    position: absolute;
                    text-align: center;
                    top: -100px;
                    left: -150px;
                    width:150%;
                    height: 100%;
                    color: white;
                    font-size: 20px;
                    transform: rotate(-45deg);
                    opacity: 0.4;
                }
            }

            .content-item.visible:hover{
                opacity: 1!important;
                transform: scale(1.1);
                transition: all .2s ease-in-out;
            }
            .content-item:last-child{
                margin-right: 45px;
            }
            .hidden{
                display: none;
            }
            .content-item{
                .item-wrap{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    white-space:normal;
                    .item-tag{
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: 10px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 0.5em;
                    }
                    .item-title{
                        font-size: 26px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 0.5em;
                        position: relative;
                            &:after{
                                content: " ";
                                position: absolute;
                                bottom: -5px;
                                right: 0;
                                height: 1px;
                                width: 100%;
                                background-color: $light-mode-primary-bg-color;
                            }
                    }
                    .item-text{
                        font-size: 14px;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 0.5em;
                    }
                    .item-links{
                        display:flex;
                        flex-direction: row;
                        font-size: 36px;
                        margin-top: 15px;
                        .link-left, .link-right{
                            opacity:0.5;
                            transition: all .2s ease-in-out;
                        }
                        .link-left:hover, .link-right:hover{
                            opacity: 1;
                        }
                        .link-center{
                            margin-right: 25px;
                            margin-left: 25px;
                            width:2px;
                            height: 80%;
                            background-color: white;
                        }
                    }
                }
            }
        }
        .portfolio-content:hover .content-item.visible{
            opacity:0.5;
        }
    }
}

/* width */
.portfolio-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
.portfolio-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
.portfolio-content::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .portfolio-content::-webkit-scrollbar-thumb:hover {
    background: grey;
  }




::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 1px solid #fff;
}