body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Myriad Pro";
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: #fff;
  top: 0;
  left: 0;
}

.background__lights {
  position: absolute;
  height: 100%;
}

.lines {
  opacity: 0.05;
}

.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #15171b;
}

.lights {
  opacity: 0.9;
}

.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #21252b;
}

.sticky-cursor {
  z-index: 100;
  pointer-events: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #777;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: -15px;
  margin-left: -15px;
  transform-origin: center center;
  /* removed for now because its laggy with devtools open no idea why transition: all .15s ease-out;*/
}
@media (max-width: 768px) {
  .sticky-cursor {
    display: none;
  }
}

.cursor-hover {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
}

.big-text-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.big-text-wrapper .big-text-top-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .big-text-wrapper .big-text-top-wrapper {
    margin-bottom: 15px;
  }
}
.big-text-wrapper .big-text-top-wrapper .big-text-top {
  color: #000000;
  font-size: 140px;
}
@media (max-width: 1440px) {
  .big-text-wrapper .big-text-top-wrapper .big-text-top {
    font-size: 100px;
  }
}
@media (max-width: 1024px) {
  .big-text-wrapper .big-text-top-wrapper .big-text-top {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .big-text-wrapper .big-text-top-wrapper .big-text-top {
    font-size: 45px;
  }
}
@media (max-width: 425px) {
  .big-text-wrapper .big-text-top-wrapper .big-text-top {
    font-size: 35px;
  }
}
.big-text-wrapper .big-text-bot-wrapper {
  margin-bottom: 50px;
}
.big-text-wrapper .big-text-bot-wrapper .big-text-bot {
  color: #000000;
  font-size: 140px;
}
@media (max-width: 1440px) {
  .big-text-wrapper .big-text-bot-wrapper .big-text-bot {
    font-size: 100px;
  }
}
@media (max-width: 1024px) {
  .big-text-wrapper .big-text-bot-wrapper .big-text-bot {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .big-text-wrapper .big-text-bot-wrapper .big-text-bot {
    font-size: 45px;
  }
}
@media (max-width: 425px) {
  .big-text-wrapper .big-text-bot-wrapper .big-text-bot {
    font-size: 35px;
  }
}
.big-text-wrapper .scroll-down-wrapper {
  height: 5vh;
}
.big-text-wrapper .scroll-down-wrapper .scroll-down-arrow span {
  width: 20px;
  height: 20px;
  display: block;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.big-text-wrapper .scroll-down-wrapper .scroll-down-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.big-text-wrapper .scroll-down-wrapper .scroll-down-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
@media (max-width: 1250px) {
  .site-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.site-wrapper .mobile-footer {
  display: none;
  width: 100vw;
  height: 10vh;
  margin-bottom: 50px;
}
@media (max-width: 1250px) {
  .site-wrapper .mobile-footer {
    display: flex;
    justify-content: center;
  }
}
.site-wrapper .mobile-footer .about-me-info {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .site-wrapper .mobile-footer .about-me-info {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .site-wrapper .mobile-footer .about-me-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.site-wrapper .mobile-footer .about-me-info .info-github svg, .site-wrapper .mobile-footer .about-me-info .info-mail svg {
  width: 30px;
  font-size: 30px;
  transform: translateY(8px);
}
.site-wrapper .mobile-footer .about-me-info .info-github {
  margin-bottom: 10px;
}

.site-wrapper .about-me-wrapper {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 35vw;
  height: 100vh;
}
@media (max-width: 1250px) {
  .site-wrapper .about-me-wrapper {
    position: static;
    align-items: center;
    width: 80vw;
    height: 60vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .site-wrapper .about-me-wrapper {
    height: 100vh;
  }
}
.site-wrapper .about-me-wrapper .about-me {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  padding-left: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 408px;
}
@media (max-width: 1250px) {
  .site-wrapper .about-me-wrapper .about-me {
    padding: 0;
    position: static;
  }
}
.site-wrapper .about-me-wrapper .about-me .about-me-header {
  font-size: 64px;
}
@media (max-width: 1024px) {
  .site-wrapper .about-me-wrapper .about-me .about-me-header {
    font-size: 54px;
  }
}
@media (max-width: 375px) {
  .site-wrapper .about-me-wrapper .about-me .about-me-header {
    font-size: 44px;
  }
}
.site-wrapper .about-me-wrapper .about-me .about-me-text {
  font-size: 16px;
}
.site-wrapper .about-me-wrapper .about-me .about-me-info {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 150px;
  left: 3vw;
}
@media (max-width: 1250px) {
  .site-wrapper .about-me-wrapper .about-me .about-me-info {
    display: none;
  }
}
.site-wrapper .about-me-wrapper .about-me .about-me-info .info-github svg, .site-wrapper .about-me-wrapper .about-me .about-me-info .info-mail svg {
  width: 30px;
  font-size: 30px;
  transform: translateY(8px);
}

.site-wrapper .portfolio-wrapper {
  display: flex;
  width: 45vw;
  margin-bottom: 50px;
}
@media (max-width: 1440px) {
  .site-wrapper .portfolio-wrapper {
    width: 50vw;
  }
}
@media (max-width: 1250px) {
  .site-wrapper .portfolio-wrapper {
    width: 80vw;
  }
}
@media (max-width: 425px) {
  .site-wrapper .portfolio-wrapper {
    width: 95vw;
  }
}
.site-wrapper .portfolio-wrapper .portfolio {
  padding-right: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100%;
  width: 100%;
}
@media (max-width: 1250px) {
  .site-wrapper .portfolio-wrapper .portfolio {
    padding: 0;
  }
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls {
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .site-wrapper .portfolio-wrapper .portfolio .portfolio-controls {
    text-align: center;
  }
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button {
  border: none;
  background: none;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 22px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 425px) {
  .site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button {
    font-size: 18px;
  }
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button:hover {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button:focus {
  outline: none;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls .selected {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  z-index: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item-group-date {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 4px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item {
  margin: 4px;
  width: 350px;
  height: 250px;
  background-color: #DADDE2;
  transition: all 0.2s ease-in-out;
  flex: 0 0 45%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item {
    flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .work-in-prog {
  position: absolute;
  text-align: center;
  top: -100px;
  left: -150px;
  width: 150%;
  height: 100%;
  color: white;
  font-size: 20px;
  transform: rotate(-45deg);
  opacity: 0.4;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item.visible:hover {
  opacity: 1 !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item:last-child {
  margin-right: 45px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .hidden {
  display: none;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  white-space: normal;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-tag {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-title {
  font-size: 26px;
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
  position: relative;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-title:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-text {
  font-size: 14px;
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  margin-top: 15px;
  z-index: 101;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-left, .site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-right {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-left:hover, .site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-right:hover {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-center {
  margin-right: 25px;
  margin-left: 25px;
  width: 2px;
  height: 80%;
  background-color: white;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content:hover .content-item.visible {
  opacity: 0.5;
}

/* width */
.portfolio-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.portfolio-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.portfolio-content::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.portfolio-content::-webkit-scrollbar-thumb:hover {
  background: grey;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #fff;
}

/*# sourceMappingURL=style.css.map */
