body {
  margin: 0;
  padding: 0;
  background-color: #21252b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Myriad Pro";
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 1440px;
}

.site-wrapper .contact-wrapper {
  position: absolute;
  top: -1000px;
  left: calc(50% - 300px);
  height: 300px;
  width: 600px;
  background-color: white;
  transition: all 1s ease-in-out;
  z-index: 3;
}
.site-wrapper .contact-wrapper .hide-contact-button {
  position: absolute;
  top: 0;
  left: calc(50% - 75px);
  width: 150px;
  height: 100px;
}
.site-wrapper .contact-wrapper .contact-send-button:hover .animated-mail {
  bottom: 150px;
}
.site-wrapper .contact-wrapper .contact {
  background-color: wheat;
}

.site-wrapper .contact-wrapper.visible {
  top: calc(50% - 150px);
}

.site-wrapper .contact-wrapper.hidden {
  background-color: black;
}

.site-wrapper .contact-wrapper.reseting {
  display: none;
}

.site-wrapper .contact-wrapper.sent {
  transition: height 0.3s, top 0.3s, opacity 0.3s 4s;
  top: 50%;
  height: 200px;
  opacity: 0;
}

.site-wrapper .show-contact-button.visible, .site-wrapper .show-contact-button.sent, .site-wrapper .show-contact-button.reseting {
  opacity: 0;
  pointer-events: none;
}

.site-wrapper .show-contact-button {
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 60px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.site-wrapper .show-contact-button .dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #51A384;
  margin-right: 10px;
  margin-bottom: 3px;
}
.site-wrapper .show-contact-button .text {
  line-height: 0px;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site-wrapper .show-contact-button .text .underline {
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: underline;
  line-height: 0px;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 1;
}

.letter-image {
  position: absolute;
  top: 50%;
  left: 50%;
}

.animated-mail.true {
  bottom: 0;
}

.animated-mail {
  position: absolute;
  bottom: 0;
}
.animated-mail .body.reseting, .animated-mail .left-fold.reseting, .animated-mail .back-fold.reseting, .animated-mail .top-fold.reseting {
  display: none;
}
.animated-mail .top-fold.sent {
  transition: transform 0.4s 1.4s, z-index 0.2s 1.4s, opacity 0.3s 5s;
  opacity: 0;
  transform: rotateX(0deg);
  z-index: 4;
  bottom: -50px;
}
.animated-mail .body.sent, .animated-mail .left-fold.sent, .animated-mail .back-fold.sent {
  bottom: -200px;
  transition: opacity 0.3s 5s;
  opacity: 0;
}
.animated-mail .body.true, .animated-mail .left-fold.true, .animated-mail .back-fold.true {
  bottom: -200px;
}
.animated-mail .top-fold.true {
  bottom: -50px;
}
.animated-mail .body {
  position: absolute;
  bottom: -999px;
  left: calc(50% - 300px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 300px 600px;
  border-color: transparent transparent #e4002b transparent;
  z-index: 4;
  transition: 0.8s;
}
.animated-mail .top-fold {
  position: absolute;
  bottom: -999px;
  left: calc(50% - 300px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 300px 0 300px;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #bb0024 transparent transparent transparent;
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  z-index: 2;
  transition: 0.8s;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: -999px;
  left: calc(50% - 300px);
  width: 600px;
  height: 300px;
  background: #a60020;
  z-index: 2;
  transition: 0.8s;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: -999px;
  left: calc(50% - 300px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 150px 300px;
  border-color: transparent transparent transparent #d00028;
  z-index: 4;
  transition: 0.8s;
}

/*.letter-image:hover {
    .animated-mail {
        transform: translateY(50px);
    }

    .animated-mail .top-fold {
        transition: transform .4s .4s, z-index .2s .4s;
        transform: rotateX(0deg);
        z-index: 2;
    }
}*/
.site-wrapper .about-me-wrapper {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.site-wrapper .about-me-wrapper .about-me {
  padding-left: 90px;
  padding-bottom: 90px;
  max-width: 408px;
}
.site-wrapper .about-me-wrapper .about-me .about-me-header {
  font-size: 64px;
}
.site-wrapper .about-me-wrapper .about-me .about-me-text {
  font-size: 14px;
}

.site-wrapper .portfolio-wrapper {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.site-wrapper .portfolio-wrapper .portfolio {
  padding-right: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls {
  margin-bottom: 15px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button {
  border: none;
  background: none;
  color: white;
  font-family: "Myriad Pro";
  font-size: 22px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button:hover {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls button:focus {
  outline: none;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-controls .selected {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content {
  width: 920px;
  height: 350px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 45px;
  z-index: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item {
  display: inline-block;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 15px;
  width: 350px;
  height: 250px;
  background-color: #15171b;
  transition: all 0.2s ease-in-out;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item.visible:hover {
  opacity: 1 !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item:last-child {
  margin-right: 45px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .visible {
  display: inline-block;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .hidden {
  position: absolute;
  transform: translateY(150%);
  opacity: 0;
  z-index: -2;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  white-space: normal;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-tag {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-title {
  font-size: 26px;
  width: 80%;
  text-align: center;
  margin-bottom: 1em;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-text {
  font-size: 14px;
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  margin-top: 15px;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-left, .site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-right {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-left:hover, .site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-right:hover {
  opacity: 1;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content .content-item .item-wrap .item-links .link-center {
  margin-right: 25px;
  margin-left: 25px;
  width: 2px;
  height: 80%;
  background-color: white;
}
.site-wrapper .portfolio-wrapper .portfolio .portfolio-content:hover .content-item.visible {
  opacity: 0.5;
}

/* width */
.portfolio-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.portfolio-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.portfolio-content::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.portfolio-content::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/*# sourceMappingURL=style.css.map */
